@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0a0a0a;
  color: #ffffff;
}

@keyframes slow-bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-25px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-slow-bounce {
  animation: slow-bounce 3s infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-content {
  display: inline-flex;
  animation: marquee 40s linear infinite;
  width: 400%;
}

@keyframes electric {
  0%,
  100% {
    box-shadow:
      0 0 10px #008a57,
      0 0 20px #008a57;
  }
  50% {
    box-shadow:
      0 0 20px #00ec97,
      0 0 30px #00ec97;
  }
}

.electric-effect {
  animation: electric 2s infinite;
}

.box-shadow-active {
  box-shadow:
    0 0 10px #00ec97,
    0 0 20px #00ec97;
}

.lightning-underline {
  position: relative;
  display: inline-block;
}

.lightning-underline::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  border-radius: 100px;
  background: linear-gradient(to right, #00ec97, #3046c7);
  bottom: -10px;
  left: 0;
  transform: skewY(-2deg);
  animation: flicker 0.1s infinite alternate;
}

.lightning-underline-akira {
  position: relative;
  display: inline-block;
}

.lightning-underline-akira::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  border-radius: 100%;
  background: linear-gradient(to right, #00ec97, #a78450);
  bottom: -10px;
  left: 0;
  transform: skewY(-2deg);
  animation: flicker 0.1s infinite alternate;
}

.lightning-underline-bale {
  position: relative;
  display: inline-block;
}

.lightning-underline-bale::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  border-radius: 20px;
  background: linear-gradient(to right, #00ec97, #dee2fc);
  bottom: -10px;
  left: 0;
  transform: skewY(-2deg);
  animation: flicker 0.1s infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

.transition {
  transition: all 0.3s ease;
}
